<h1 class= "text-center mt-4">
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>
<%= @user.username %>'s profile</h1>
<div class="text-center mt-4"">
  <%= avatar_for @user, size: 120 %>
  <div class="text-center mt-4">
    <%= link_to "Edit your profile", edit_user_path(@user), class: "btn btn-outline-info" %>
  </div>
</div>
<h3 class= "text-center mt-4">Articles</h3>
<%= render 'articles/article' %>
<div class="flickr_pagination">
  <%= will_paginate @articles, :container => false %>
</div>






